pytest
autopep8
pylint
celery
redis
flower
flask
flask-restful
requests
flask-script
flask-cors
flask-sqlalchemy
flask-migrate
flask-marshmallow
marshmallow-sqlalchemy
psycopg2-binary
Flask-JWT-Extended
gunicorn
redis